
<ons-page ng-init="volume = 25; brightness = 50; approval = 75" ng-controller="PageController as range">
  <ons-toolbar>
    <div class="center">Range sliders</div>
  </ons-toolbar>

  <p>
    <ons-row>
      <ons-col width="40px" style="text-align: center; line-height: 31px;">
        <ons-icon icon="md-volume-down"></ons-icon>
      </ons-col>
      <ons-col>
        <ons-range style="width: 100%;" ng-model="range.volume" ng-change="range.changeVolume()"></ons-range>
      </ons-col>
      <ons-col width="40px" style="text-align: center; line-height: 31px;">
        <ons-icon icon="md-volume-up"></ons-icon>
      </ons-col>
    </ons-row>
    <ons-row style="margin-top: 20px;">
      <ons-col width="40px" style="text-align: center; line-height: 31px;">
        <ons-icon icon="md-brightness-low"></ons-icon>
      </ons-col>
      <ons-col>
        <ons-range style="width: 100%;" ng-model="brightness"></ons-range>
      </ons-col>
      <ons-col width="40px" style="text-align: center; line-height: 31px;">
        <ons-icon icon="md-brightness-high"></ons-icon>
      </ons-col>
    </ons-row>
    <ons-row style="margin-top: 20px;">
      <ons-col width="40px" style="text-align: center; line-height: 31px;">
        <ons-icon icon="md-thumb-down"></ons-icon>
      </ons-col>
      <ons-col>
        <ons-range disabled style="width: 100%;" ng-model="approval"></ons-range>
      </ons-col>
      <ons-col width="40px" style="text-align: center; line-height: 31px;">
        <ons-icon icon="md-thumb-up"></ons-icon>
      </ons-col>
    </ons-row>
  </p>

  <h4>Volume: {{volume}} | Brightness: {{brightness}} | Approval: {{approval}}</h4>
</ons-page>